/* -------------------------------------------------------------------------variable---------------------------------------------------------------------------------------------*/
:root {
    --noir: #121111;
    --orange: #F6562A;
    --grispale: #F4F0F0;
    --blanc: #FFFFFF;
}

/* ----------------------------------------------------------------------GLOBAL-----------------------------------------------------------------------------------------------------*/

body {
    background-color: var(--noir);
}

h1 {
    color: var(--blanc);
    font-size: 130px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

h2 {
    color: var(--blanc);
    font-size: 120px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

p {
    color: var(--blanc);
    font-size: 32px;
    font-family: "Roboto", sans-serif;
}

ul {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: var(--blanc);
}

@media screen and (max-width: 1800px) {
    p {
        font-size: 24px;
    }

    ul {
        font-size: 24px;
    }

    h2 {
        font-size: 85px;
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 18px;
    }

    ul {
        font-size: 18px;
    }

    h2 {
        font-size: 55px;
    }

    h1 {
        font-size: 65px;
    }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    p {
        font-size: 12px;
    }

    ul {
        font-size: 12px;
    }

    h2 {
        font-size: 35px;
    }

    h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 375px) {
    p {
        font-size: 15px;
    }

    ul {
        font-size: 15px;
    }

    h2 {
        font-size: 30px;
    }

    h1 {
        font-size: 40px;
    }
}

/* -------------------------------------------------------------------------SECTION HEROS------------------------------------------------------------------------------------*/
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--noir);
    display: grid;
    align-content: center;
    justify-items: center;

}

.hero .contenue {
    margin-inline: auto auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 90%;
}

.hero h1 {
    grid-area: 1 / 1 / 2 / 2;


}

.hero p {
    grid-area: 2 / 1 / 3 / 2;
    width: 60%;
    justify-self: flex-end;

}

/* -------------------------------------------------------------------------SECTION DEFILEMENT------------------------------------------------------------------------------------*/

.defile {
    position: relative;
    background-color: #F4F0F0;
    width: 100%;
    height: 50vh;
}


/* ------------------------------------------------------------------------SECTION REGLES------------------------------------------------------------------------------------*/

.regles {
    position: relative;
    width: 95%;
    height: 200vh;
    background-color: var(--noir);
    color: var(--blanc);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.regles .titre {
    align-self: flex-end;
}
/*
.regles .nombre {
    font-size: 200px;
    text-align: justify;
    align-self: center;
}

.regles p {
    width: 65%;
}


.regles div {
    margin: 0 0 2% 0;
    width: 80%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    align-self: center;
    border-bottom: 1px var(--grispale) solid;
}


.regles .terrain {
    display: flex;
    flex-direction: row-reverse;
}

.regles .station {
    display: flex;
    flex-direction: row-reverse;
}*/

.regle {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid white;
    padding: 20px 0;
    width: 60%;
  }

  .regle-nombre {
    margin-right: 20px;
  }
  .regle-texte {
    max-width: 80vmax;
    width: 90%;
    align-self: center;
    margin-top: 5%;
  }

/* ------------------------------------------------------------------------SECTION banniere------------------------------------------------------------------------------------*/


.banniere {
    position: relative;
    background-color: #F4F0F0;
    width: 100%;
    height: 100vh;
}

/* ------------------------------------------------------------------------SECTION buts------------------------------------------------------------------------------------*/

.but {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.but .points {
    background-color: var(--grispale);
    width: 50%;
    height: 100%;
    display: grid;
    align-content: center;
}

.but .points .contenu {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.but .points .contenu h2 {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 5%;
    color: var(--noir);
}

.but .points .contenu .image {
    grid-area: 2 / 1 / 3 / 2;
    align-self: flex-start;
    width: 50%;
}

.but .points .contenu .description {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-start;
    justify-self: center;
    width: 90%;
}

.but .points .contenu .description p {
    color: var(--noir);
}

.but .points .contenu .description ul {
    color: var(--noir);
}

.but .objectif {
    background-color: var(--orange);
    width: 50%;
    height: 100%;
    display: grid;
    align-content: center;
}

.but .objectif .contenu {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.but .objectif .contenu .image {
    background-color: black;
    grid-area: 1 / 2 / 2 / 3;
}

.but .objectif .contenu .description {
    grid-area: 1 / 1 / 2 / 2;
    align-self: flex-start;
    justify-self: center;
    width: 90%;
}

.but .objectif .contenu h2 {
    grid-area: 2 / 2 / 3 / 3;
}

@media screen and (max-width: 768px) {
    .but {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .but .points {
        width: 100%;
    }

    .but .objectif {
        width: 100%;
    }

}



/* ------------------------------------------------------------------------SECTION but POINTS------------------------------------------------------------------------------------*/
.but .points .contenu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.6fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.but .points .contenu h2 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: flex-start;
    align-self: flex-end;
    margin-left: 5%;
    margin: 0 5%;
}

.but .points .contenu .description {
    grid-area: 3 / 1 / 4 / 2;
    justify-self: flex-start;
    margin-left: 2%;
}


.but .points .contenu .image {
    width: 55%;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: flex-start;
    align-self: center;
}


@media screen and (min-width: 375px) and (max-width: 768px) {
    .but .points .contenu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.3fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
    }

    .but .points .contenu h2 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .but .points .contenu .image {
        grid-area: 2 / 1 / 3 / 2;
    }

    .but .points .contenu .description {
        grid-area: 2 / 2 / 3 / 3;
    }
}

@media screen and (max-width: 375px) {
    .but .points .contenu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .but .points .contenu h2 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .but .points .contenu .image {
        grid-area: 2 / 1 / 3 / 2;
        width: 95%;
    }

    .but .points .contenu .description {
        grid-area: 3 / 1 / 4 / 2;
    }
}

/* ------------------------------------------------------------------------SECTION but OBJECTIF------------------------------------------------------------------------------------*/
.but .objectif .contenu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.6fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.but .objectif .contenu h2 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: flex-end;
    align-self: flex-end;
    margin-right: 5%;
    margin: 0 5%;
}

.but .objectif .contenu .description {
    grid-area: 3 / 1 / 4 / 2;
    justify-self: flex-end;
    margin-right: 2%;
    width: 88%;
}


.but .objectif .contenu .image {
    width: 55%;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: flex-end;
    align-self: center;
}

/*
    @media screen and (max-width: 768px) {
        p {
            font-size: 18px;
        }
    
        ul {
            font-size: 18px;
        }
    
        h2 {
            font-size: 55px;
        }
    
        h1{
            font-size: 65px;
        }
    }
    
    @media screen and (min-width: 375px) and (max-width: 768px){
        p {
            font-size: 12px;
        }
    
        ul {
            font-size: 12px;
        }
    
        h2 {
            font-size: 35px;
        }
    
        h1{
            font-size: 40px;
        }
    }
    */

@media screen and (min-width: 375px) and (max-width: 768px) {
    .but .objectif .contenu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.3fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
    }

    .but .objectif .contenu h2 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .but .objectif .contenu .description {
        grid-area: 2 / 1 / 3 / 2;
    }

    .but .objectif .contenu .image {
        grid-area: 2 / 2 / 3 / 3;
    }
}

@media screen and (max-width: 375px) {
    .but .objectif .contenu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .but .objectif .contenu h2 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .but .objectif .contenu .image {
        grid-area: 2 / 1 / 3 / 2;
        width: 95%;
    }

    .but .objectif .contenu .description {
        grid-area: 3 / 1 / 4 / 2;
    }
}

/* ------------------------------------------------------------------------SECTION TOURNOIS------------------------------------------------------------------------------------*/
.tournois {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.tournois h2 {
    grid-area: 1 / 2 / 2 / 3;
    align-self: flex-start;
    margin-left: 40%;
    z-index: 2;
    width: 100%;
}

.tournois ul {
    color: var(--blanc);
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    margin-top: 50%;
}

.tournois .img {
    grid-area: 1 / 3 / 2 / 4;
    width: 100%;
    height: 60%;
    background-color: #F6562A;
    align-self: flex-start;
}