/* -------------------------------------------------------------------------variable---------------------------------------------------------------------------------------------*/
:root {
    --noir: #121111;
    --orange: #F6562A;
    --grispale: #F4F0F0;
    --blanc: #FFFFFF;
    --rouge: #F23414;
}

/* ----------------------------------------------------------------------GLOBAL-----------------------------------------------------------------------------------------------------*/

body {
    background-color: var(--noir);
}

h1 {
    color: var(--blanc);
    font-size: 150px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

h2 {
    color: var(--blanc);
    font-size: 120px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

p {
    color: var(--blanc);
    font-size: 32px;
    font-family: "Roboto", sans-serif;
}

ul {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: var(--blanc);
}

@media screen and (max-width: 1800px) {
    p {
        font-size: 24px;
    }

    ul {
        font-size: 24px;
    }

    h2 {
        font-size: 85px;
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 18px;
    }

    ul {
        font-size: 18px;
    }

    h2 {
        font-size: 55px;
    }

    h1 {
        font-size: 65px;
    }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    p {
        font-size: 12px;
    }

    ul {
        font-size: 12px;
    }

    h2 {
        font-size: 35px;
    }

    h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 375px) {
    p {
        font-size: 15px;
    }

    ul {
        font-size: 15px;
    }

    h2 {
        font-size: 30px;
    }

    h1 {
        font-size: 40px;
    }
}

/* -------------------------------------------------------------------------SECTION HEROS------------------------------------------------------------------------------------*/
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--noir);
    display: grid;
    align-content: center;
    justify-items: center;

}

.hero .contenue {
    margin-inline: auto auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 90%;
}

.hero .contenue h1 {
    grid-area: 1 / 1 / 2 / 2;
}

.hero p {
    grid-area: 2 / 1 / 3 / 2;
    width: 60%;
    justify-self: center;

}

@media screen and (min-width: 1800px) and (max-width: 2700px) {
    .hero .contenue p {
        font-size: 24px;
    }

    .hero .contenue h1 {
        font-size: 130px;
    }
}

@media screen and (max-width: 1800px) and (min-width: 768px) {
    .hero .contenue p {
        font-size: 18px;
        justify-self: center;
    }

    .hero .contenue h1 {
        font-size: 75px;
        justify-self: center;

    }
}

@media screen and (max-width: 768px) {
    .hero .contenue p {
        font-size: 18px;
    }

    .hero .contenue h1 {
        font-size: 70px;

    }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    .hero .contenue p {
        font-size: 12px;
    }

    .hero .contenue h1 {
        font-size: 40px;
        justify-self: center;
    }
}

@media screen and (max-width: 375px) {
    .hero .contenue p {
        font-size: 15px;
    }

    .hero .contenue h1 {
        justify-self: center;
        font-size: 25px;
    }
}

/* -------------------------------------------------------------------------SECTION DEFILEMENT------------------------------------------------------------------------------------*/
section.banniere-box {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    white-space: nowrap;
    display: grid;
    align-items: center;
    justify-items: center;
}

section.banniere-box .banniere-gauche {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}
section.banniere-box .banniere-droite,
section.banniere-box .banniere-gauche
{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}
section.banniere-box .banniere-droite h2
{
    font-size: 180px;
    color: var(--grispale);
    white-space: nowrap;
    padding: 0 3rem;
    letter-spacing: 5px;
    animation: moveRight linear 10s infinite;
}

section.banniere-box .banniere-gauche h2
{
    font-size: 180px;
    color: var(--grispale);
    white-space: nowrap;
    padding: 0 3rem;
    letter-spacing: 5px;
    animation: moveLeft linear 15s infinite;
}

section.banniere-box .banniere-droite h2:nth-child(5n),
section.banniere-box .banniere-gauche h2:nth-child(5n){
    color: var(--rouge);

}


/* Keyframes */
@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-250%);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(250%);
    }
}


/* ------------------------------------------------------------------------SECTION REGLES------------------------------------------------------------------------------------*/

.regles {
    position: relative;
    width: 95%;
    height: 200vh;
    background-color: var(--noir);
    color: var(--blanc);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.regles .titre {
    align-self: flex-end;
    justify-self: flex-start;
    margin: 0;
}

.regle {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid white;
    padding: 20px 0;
    width: 60%;
}

.regle-nombre {
    margin-right: 20px;
}

.regle-texte {
    max-width: 80vmax;
    width: 90%;
    align-self: center;
    margin-top: 5%;
}



/* ------------------------------------------------------------------------SECTION buts------------------------------------------------------------------------------------*/

.but {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}

.but .contenu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 0px) and (max-width: 1800px) {
    .but {
        width: 100%;
        height: 150vh;
    }

    .but .contenu {
        display: flex;
        flex-direction: column;
    }
}



/* ------------------------------------------------------------------------SECTION but POINTS------------------------------------------------------------------------------------*/

.but .contenu .points {
    background-color: var(--grispale);
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 12vh 85vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 50%;
    height: 100%;
}

.but .contenu .points .titre_po {
    grid-area: 1 / 1 / 2 / 3;
    color: var(--noir);
    margin-left: 5%;
    align-self: center;
    font-size: 120px;
}

.but .contenu .points .image_po {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    align-self: flex-start;
    max-height: 85%;
}

.but .contenu .points .description_po {
    grid-area: 2 / 2 / 3 / 3;
    width: 85%;
    justify-self: center;
    text-align: justify;
    align-self: flex-start;

}

.but .contenu .points .description_po p {
    color: var(--noir);
}

.but .contenu .points .description_po ul {
    color: var(--noir);
}

@media screen and (min-width: 1800px) and (max-width: 2700px) {
    .but .contenu .points .titre_po {
        font-size: 150px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1800px) {

    .but .contenu .points {
        width: 100%;
        height: 50%;
    }

    .but .contenu .points .titre_po {
        font-size: 100px;
    }
}

@media screen and (min-width: 375px) and (max-width: 768px) {

    .but .contenu .points {
        width: 100%;
        height: 50%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 40vh 50vh;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

    }

    .but .contenu .points .titre_po {
        font-size: 75px;
        grid-area: 1 / 1 / 2 / 2;
    }

    .but .contenu .points .description_po {
        grid-area: 3 / 1 / 4 / 2;
    }

    .but .contenu .points .description_po p {
        font-size: 24px;
    }

    .but .contenu .points .description_po ul {
        font-size: 24px;
    }

    .but .contenu .points .image_po {
        grid-area: 2 / 1 / 3 / 2;
    }
}

@media screen and (max-width: 375px) {
    .but .contenu .points {
        width: 100%;
        height: 50%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 20vh 20vh;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

    }

    .but .contenu .points .image_po {
        grid-area: 2 / 1 / 3 / 2;
    }

    .but .contenu .points .titre_po {
        font-size: 45px;
    }

    .but .contenu .points .description_po {
        grid-area: 3 / 1 / 4 / 2;
    }


    .but .contenu .points .description_po p {
        font-size: 18px;
    }

    .but .contenu .points .description_po ul {
        font-size: 18px;
    }
}

/* ------------------------------------------------------------------------SECTION but OBJECTIF------------------------------------------------------------------------------------*/

.but .contenu .objectif {
    background-color: var(--orange);
    width: 50%;
    height: 100%;

    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 85vh 12vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.but .contenu .objectif .titre_ob {
    grid-area: 2 / 1 / 3 / 3;
    justify-self: flex-end;
    align-self: flex-end;
    margin: 0 5% 0 0;
    font-size: 120px;
}

.but .contenu .objectif .image_ob {
    width: 100%;
    grid-area: 1 / 2 / 2 / 3;
    align-self: flex-start;
    margin-top: 12vh;
}

.but .contenu .objectif .description_ob {
    width: 85%;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    text-align: justify;
    align-self: flex-start;
    margin-top: 12vh;
    max-height: 85%;
}

@media screen and (min-width: 1800px) and (max-width: 2700px) {
    .but .contenu .objectif .titre_ob {
        font-size: 150px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1800px) {
    .but .contenu .objectif {
        width: 100%;
        height: 50%;
    }

    .but .contenu .objectif .titre_ob {
        font-size: 100px;

    }

    .but .contenu .objectif .image_ob {
        margin-top: 5vh;
    }

    .but .contenu .objectif .description_ob {
        margin-top: 5vh;
        max-height: 85%;
    }

    p {
        font-size: 20px;
    }



}

@media screen and (min-width: 1800px) and (max-width: 2700px) {
    .but .contenu .objectif .titre_ob {
        font-size: 150px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1800px) {

    .but .contenu .objectif {
        width: 100%;
        height: 50%;
    }

    .but .contenu .objectif .titre_ob {
        font-size: 100px;
    }
}

@media screen and (min-width: 375px) and (max-width: 768px) {

    .but .contenu .objectif {
        width: 100%;
        height: 50%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 40vh 50vh;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

    }

    .but .contenu .objectif .titre_ob {
        font-size: 75px;
        grid-area: 1 / 1 / 2 / 2;
    }

    .but .contenu .objectif .description_ob {
        grid-area: 3 / 1 / 4 / 2;
    }

    .but .contenu .objectif .description_ob p {
        font-size: 24px;
    }

    .but .contenu .objectif .description_ob ul {
        font-size: 24px;
    }

    .but .contenu .objectif .image_ob {
        grid-area: 2 / 1 / 3 / 2;
    }
}

@media screen and (max-width: 375px) {
    .but .contenu .objectif {
        width: 100%;
        height: 50%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 20vh 20vh;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

    }

    .but .contenu .objectif .image_ob {
        grid-area: 2 / 1 / 3 / 2;
        align-self: center;
    }

    .but .contenu .objectif .titre_ob {
        font-size: 45px;
        align-self: flex-start;
    }

    .but .contenu .objectif .description_ob {
        grid-area: 3 / 1 / 4 / 2;
    }


    .but .contenu .objectif .description_ob p {
        font-size: 18px;
    }

    .but .contenu .objectif .description_ob ul {
        font-size: 18px;
    }
}

/*
.but .points {
    background-color: var(--grispale);
    width: 50%;
    height: 100%;
    display: grid;
    align-content: center;
}

.but .points .contenu {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.but .points .contenu h2 {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 5%;
    color: var(--noir);
}

.but .points .contenu .image {
    grid-area: 2 / 1 / 3 / 2;
    align-self: flex-start;
    width: 50%;
}

.but .points .contenu .description {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-start;
    justify-self: center;
    width: 90%;
}

.but .points .contenu .description p {
    color: var(--noir);
}

.but .points .contenu .description ul {
    color: var(--noir);
}

.but .objectif {
    background-color: var(--orange);
    width: 50%;
    height: 100%;
    display: grid;
    align-content: center;
}

.but .objectif .contenu {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.but .objectif .contenu .image {
    background-color: black;
    grid-area: 1 / 2 / 2 / 3;
}

.but .objectif .contenu .description {
    grid-area: 1 / 1 / 2 / 2;
    align-self: flex-start;
    justify-self: center;
    width: 90%;
}

.but .objectif .contenu h2 {
    grid-area: 2 / 2 / 3 / 3;
}

@media screen and (max-width: 768px) {
    .but {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .but .points {
        width: 100%;
    }

    .but .objectif {
        width: 100%;
    }

}


*/
/*.but .points .contenu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.6fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.but .points .contenu h2 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: flex-start;
    align-self: flex-end;
    margin-left: 5%;
    margin: 0 5%;
}

.but .points .contenu .description {
    grid-area: 3 / 1 / 4 / 2;
    justify-self: flex-start;
    margin-left: 2%;
}


.but .points .contenu .image {
    width: 55%;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: flex-start;
    align-self: center;
}


@media screen and (min-width: 375px) and (max-width: 768px) {
    .but .points .contenu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.3fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
    }

    .but .points .contenu h2 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .but .points .contenu .image {
        grid-area: 2 / 1 / 3 / 2;
    }

    .but .points .contenu .description {
        grid-area: 2 / 2 / 3 / 3;
    }
}

@media screen and (max-width: 375px) {
    .but .points .contenu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .but .points .contenu h2 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .but .points .contenu .image {
        grid-area: 2 / 1 / 3 / 2;
        width: 95%;
    }

    .but .points .contenu .description {
        grid-area: 3 / 1 / 4 / 2;
    }
}
*/
/*.but .objectif .contenu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.6fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.but .objectif .contenu h2 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: flex-end;
    align-self: flex-end;
    margin-right: 5%;
    margin: 0 5%;
}

.but .objectif .contenu .description {
    grid-area: 3 / 1 / 4 / 2;
    justify-self: flex-end;
    margin-right: 2%;
    width: 88%;
}


.but .objectif .contenu .image {
    width: 55%;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: flex-end;
    align-self: center;
}



@media screen and (min-width: 375px) and (max-width: 768px) {
    .but .objectif .contenu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.3fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
    }

    .but .objectif .contenu h2 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .but .objectif .contenu .description {
        grid-area: 2 / 1 / 3 / 2;
    }

    .but .objectif .contenu .image {
        grid-area: 2 / 2 / 3 / 3;
    }
}

@media screen and (max-width: 375px) {
    .but .objectif .contenu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .but .objectif .contenu h2 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .but .objectif .contenu .image {
        grid-area: 2 / 1 / 3 / 2;
        width: 95%;
    }

    .but .objectif .contenu .description {
        grid-area: 3 / 1 / 4 / 2;
    }
}
*/
/* ------------------------------------------------------------------------SECTION TOURNOIS------------------------------------------------------------------------------------*/
.tournois {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.tournois h2 {
    grid-area: 1 / 2 / 2 / 3;
    align-self: flex-start;
    margin-left: 40%;
    z-index: 2;
    width: 100%;
}

.tournois ul {
    color: var(--blanc);
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    margin-top: 50%;
}

.tournois .img {
    grid-area: 1 / 3 / 2 / 4;
    width: 100%;
    height: 60%;
    background-color: #F6562A;
    align-self: flex-start;
}