/* ----- GLOBAL ----- */
:root {
  --noir: #121111;
  --orange: #f6562a;
  --grispale: #f4f0f0;
  --blanc: #ffffff;
}

* {
  font-family: Arial, Helvetica, sans-serif; /*temporaire !!!*/
}

.section-center {
  margin: 0 5%;
}

h2 {
  font-size: 48px !important;
  color: var(--orange) !important;
  font-weight: bold !important;
}

h3 {
  font-size: 24px !important;
  color: var(--orange) !important;
  font-weight: bold !important;
}
p {
  font-size: 24px;
  color: var(--blanc);
}

/* ----- BOUTONS ----- */
.btn-fill {
  width: 200px;
  height: 100px;
  padding: 1% 4%;
  border-radius: 25px;
  background-color: var(--orange);
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* --------- INDEX --------- */

/* ----- NAVBAR ----- */

/* ----- SECTION HÉRO ----- */
#accueil-hero {
  background-color: var(--noir);
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil-hero-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 0 5%;
}

.accueil-hero-title span {
  text-transform: uppercase;
  font-size: 5vw !important;
  color: var(--blanc) !important;
  font-weight: bold !important;
  z-index: 999;
  
}
.accueil-hero-container {
 width: 40vw;
 height: 40vw;
 background-color: transparent;
 display: flex;
 justify-content: center;
 align-items: center;
}

.accueil-hero-img {
  object-fit: cover;
  width: 100%;
}


/* ----- SECTION ROBOT ----- */
#accueil-robot {
  background-color: var(--noir);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.accueil-robot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2%;
  justify-content: center;
  align-items: center;
}

.robot-left img {
  object-fit: cover;
  width: 100%;
}

/* ----- SECTION BANNIÈRE TAKTIK ----- */

/* ----- SECTION MEMBRE ----- */

#accueil-membre {
  background-color: var(--grispale);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.membre-container {
  background-color: var(--noir);
  width: 400px;
  height: 550px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.membre-container img {
  width: 100%;
  height: 375px;
  object-fit: cover;
  overflow: hidden;
}

.membre-container-top {
  position: relative;
}

.membre-icon {
  position: absolute;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  background-color: var(--orange);
  z-index: 1000;
  right: 0;
  margin: 2% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.membre-container-bottom {
  display: grid;
  padding: 5% 5%;
}

.membre-container-bottom p {
  font-size: 18px;
}

.swiper {
  width: 400px;
  height: 530px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

/* ----- SECTION OBSTACLES/PROGRES ----- */
#accueil-obstacle {
  width: 100vw;
  height: 100vh;
}

.accueil-obstacle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.obstacle {
  background-color: var(--orange);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.obstacle-container,
.progres-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.progres {
  background-color: var(--noir);
  display: flex;
  flex-direction: column-reverse;
}

/* ----- SECTION BANNIERE TAPE ----- */

/* ----- SECTION VIDÉO ----- */

/* ----- SECTION FOOTER ----- */
