/* ----- GLOBAL ----- */
:root {
  --noir: #121111;
  --orange: #f6562a;
  --grispale: #f4f0f0;
  --blanc: #ffffff;
}

* {
  font-family: Arial, Helvetica, sans-serif; /*temporaire !!!*/
}

.section-center {
  margin: 0 5%;
}

body {
  overflow-x: hidden;
  background-color: var(--grispale);
}


main {
  overflow-x: hidden;
  background-color: var(--grispale);
}

h2 {
  font-size: 48px !important;
  color: var(--orange) !important;
  font-weight: bold !important;
}

h3 {
  font-size: 24px !important;
  color: var(--orange) !important;
  font-weight: bold !important;
}
p {
  font-size: 24px;
  color: var(--blanc);
}

/* ----- BOUTONS ----- */
.btn-fill {
  width: 200px;
  height: 100px;
  padding: 1% 4%;
  border-radius: 25px;
  background-color: var(--orange);
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* --------- INDEX --------- */

/* ----- NAVBAR ----- */
/* ----- CSS DE BASE PAR : https://codepen.io/munjewar/pen/jQrNWw ----- */
nav {
  position: sticky;
  top: 0;
  z-index: 99999;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 99999;
  height: 55px;
 background-color: rgb(26, 26, 26);
 font-family: Arial, Helvetica, sans-serif !important;
 border-bottom: 2px solid var(--orange);
 
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: bolder;
  color: var(--orange);
}
.brand a,
.brand a:visited {
  color: var(--orange);
  text-decoration: none;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 55px;
  color: #fff;
  background-color: var(--noir);
  text-decoration: none;
}
nav ul li a {
  background: transparent;
  color: var(--blanc);
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background-color: var(--orange);
  color: var(--blanc);
}
.navbar-dropdown li a {
  background-color: var(--orange);
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " \025BE";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

nav ul .nohover a:hover,
nav ul .nohover a:visited:hover {
  background-color: transparent;
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 55px;
  width: 70px;
}
@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 55px 0 0px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    background: #262626;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .navbar-dropdown {
    position: static;
  }
}
@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
#navbar-toggle {
  position: absolute;
  left: 18px;
  top: 15px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#navbar-toggle span,
#navbar-toggle span:before,
#navbar-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: var(--orange);
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#navbar-toggle span:before {
  top: -10px;
}
#navbar-toggle span:after {
  bottom: -10px;
}
#navbar-toggle.active span {
  background-color: transparent;
}
#navbar-toggle.active span:before,
#navbar-toggle.active span:after {
  top: 0;
}
#navbar-toggle.active span:before {
  transform: rotate(45deg);
}
#navbar-toggle.active span:after {
  transform: rotate(-45deg);
}

/* ----- SECTION HÉRO ----- */
#accueil-hero {
  background-color: var(--noir);
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil-hero-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 0 5%;
}

.accueil-hero-title span {
  text-transform: uppercase;
  font-size: 5vw !important;
  color: var(--blanc) !important;
  font-weight: bold !important;
  z-index: 999;
}
.accueil-hero-container {
  width: 40vw;
  height: 40vw;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil-hero-img {
  object-fit: cover;
  width: 100%;
}

/* ----- SECTION ROBOT ----- */
#accueil-robot {
  background-color: var(--noir);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.accueil-robot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2%;
  justify-content: center;
  align-items: center;
}

.robot-left img {
  object-fit: cover;
  width: 100%;
}

/* ----- SECTION BANNIÈRE TAKTIK ----- */

section.banniere-box {
  width: 100%;
  height: 30vh;
  overflow: hidden;
  padding: 10% 0;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: var(--orange);
}

section.banniere-box .banniere-gauche {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

section.banniere-box .banniere-droite,
section.banniere-box .banniere-gauche {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.banniere-droite {
  animation: moveRight linear 40s infinite;
  padding-top: 5%;
}

.banniere-gauche {
  padding-top: -5%;
  animation: moveLeft linear 40s infinite;
}


section.banniere-box .banniere-droite span {
  font-size: 6em;
  color: var(--grispale);
  white-space: nowrap;
  padding: 0 3rem;
  letter-spacing: 5px;
  font-weight: bold;
}

section.banniere-box .banniere-gauche span {
  font-size: 6em;
  font-weight: bold;
  color: var(--blanc);
  white-space: nowrap;
  padding: 0 3rem;
  letter-spacing: 5px;
}

section.banniere-box .banniere-droite span:nth-child(2n+2),
section.banniere-box .banniere-gauche span:nth-child(2n+2) {
  color: var(--rouge);

}


/* Keyframes */
@keyframes moveLeft {
  0% {
      transform: translate(0);
  }

  100% {
      transform: translateX(50%);
  }
}

@keyframes moveRight {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(-50%);
  }
}



/* ----- SECTION MEMBRE ----- */

#accueil-membre {
  background-color: var(--grispale);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.membre-container {
  background-color: var(--noir);
  width: 400px;
  height: 550px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.membre-container img {
  width: 100%;
  height: 375px;
  object-fit: cover;
  overflow: hidden;

}

.membre-container:hover img {
  filter: grayscale(0);
}

.membre-container-top {
  position: relative;
}

.membre-icon {
  position: absolute;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  background-color: var(--orange);
  z-index: 1000;
  right: 0;
  margin: 2% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.membre-container-bottom {
  display: grid;
  padding: 5% 5%;
}

.membre-container-bottom p {
  font-size: 18px;
}

.swiper {
  width: 100vw;
  height: 530px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  max-width: 400px;
  margin: 10px;
}


/* ----- SECTION OBSTACLES/PROGRES ----- */
#accueil-obstacle {
  width: 100vw;
  height: 100vh;
}

.accueil-obstacle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.obstacle {
  background-color: var(--orange);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.obstacle-container,
.progres-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.progres {
  background-color: var(--noir);
  display: flex;
  flex-direction: column-reverse;
}

/* ----- SECTION BANNIERE TAPE ----- */
#accueil-tape {
  background-color: var(--grispale);
  width: 100vw;
  height: 100vh;
}
.scrolling-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scrolling-bar {
  position: absolute;
  width: 150vw;
  height: 200px;
  overflow: hidden;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.397);
  display: flex;
  align-items: center;
}

.bar1 {
  top: 0;
  left: 0;
  transform: rotate(20deg);
  transform-origin: top left;
  background-color: var(--noir);
}

.bar2 {
  bottom: 300px;
  left: 0;
  transform: rotate(-10deg);
  transform-origin: bottom left;
  background-color: var(--orange);
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scrollbar 40s linear infinite;
  font-size: 5rem;
  color: var(--blanc);
  padding: 10px 0;
}

.bar1 .scrolling-text {
  animation-direction: reverse; 
}

.bar2 .scrolling-text {
  animation-direction: normal; 
}

@keyframes scrollbar {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%); 
  }
}

/* ----- SECTION VIDÉO ----- */

#accueil-video {
  background-color: var(--noir);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.accueil-video {
  margin: 0 5%;
  width: 100%;
  height: 100%;
  
}
.video-presentation {
  position: absolute;
  background-color: #262626;
  width: 87vw;
  height: 80vh;
}
/* ----- SECTION FOOTER ----- */
